actionlib==1.12.1
backports.functools-lru-cache==1.6.1
bondpy==1.8.5
catkin==0.7.28
catkin-pkg==0.4.22
certifi==2019.11.28
cycler==0.10.0
distro==1.5.0
docutils==0.16
dynamic-reconfigure==1.6.3
future==0.18.2
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.14
h5py==2.10.0
kiwisolver==1.1.0
matplotlib==2.2.5
message-filters==1.14.9
numpy==1.16.6
phonopy==2.8.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
rosbag==1.14.9
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.9
roslaunch==1.14.9
roslib==1.14.9
roslz4==1.14.9
rosmake==1.14.9
rosmaster==1.14.9
rosmsg==1.14.9
rosnode==1.14.9
rosparam==1.14.9
rospkg==1.2.8
rospy==1.14.9
rosservice==1.14.9
rostest==1.14.9
rostopic==1.14.9
rosunit==1.14.9
roswtf==1.14.9
scipy==1.2.3
seekpath==1.9.7
sensor-msgs==1.12.7
six==1.15.0
smclib==1.8.5
spglib==1.16.0
subprocess32==3.5.4
sumo==2.0.0
topic-tools==1.14.9
